#logo1 {
    text-align: center;
    background-image: url(./Assets/landing.jpg);
    padding-top: 100px;
    padding-bottom: 150px;
    font-size: xx-large;
    color:white;

}
nav {
    display: flex;
    color: white;
    align-items: center;
    padding-top: -50px;
    margin-top: -20px;
    list-style: none;
    
    
}
#happyhour {
    background-color:grey;
    width:400px;
    height:75px;
    margin-left: -40px;
    text-align: center;
    
    
}
#partytime {
    background-color: tomato;
    width:400px;
    height: 75px;
    margin-left: -40px;
    text-align: center;

}
#breakfast {
    background-image: url(./Assets/breakfast.jpg);
    width: 450px;
    height: 150px;
    text-align: center;
    
    
}
#lunch {
    background-image: url(./Assets/lunch.jpg);
    width: 450px;
    height: 150px;
    text-align: center;
     opacity: 0.4;
}
#dinner {
    background-image: url(./Assets/dinner.jpg);
    width:450px;
    height: 150px;
    text-align: center;
    

}    
nav ul li{
    list-style: none;
}
