#fastfoodimage {
    font-size: 0px;
    border-radius: 2px;
    border: 15px solid whitesmoke;
    box-shadow: 5px 5px 6px grey,-5px -5px 6px grey;
    margin: 30px;
    width: 39%;

}
#fast_food {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#drinksimage {
    display: flex;
    float: right;
    border: 15px solid whitesmoke;
    box-shadow: 0px 0px 6px grey;

}
#drinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#menu {
    background-image: url(./Assets/foodsBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    margin-top: 80px;
    
}#menutable {
    margin: 10px 50px;
    background-color: honeydew;
}
.row {
    display: flex;
    color: #F15A29;
    justify-content: space-between;
    padding-top: 70px;
    margin-right: 120px;
    margin-left: 120px;

}
.navbar {
    background-color: white;
    color:#F15A29;
    font-size: 20PX;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    padding: 12px 14px;
    width: 100%;
    font-size: 20px;
}
a:hover {
    background-color: white;
    color: #F15A29;
    font-size: 20px;
}
#cus-rev {
    column-count: 2;
    box-shadow: 4px 4px;
    border: 15px solid whitesmoke;
    border-radius: 2px;
    box-shadow: 5px 5px 7px grey,-5px -5px 7px grey;
    width :50%;
    margin-left: 320px;
    padding: 30px;
    margin-top: 30px;
    
    
}
#cus-rev h2 {
    color: #F15A29;
}
.happycus {
    border-right:whitesmoke;
    border-right-style:groove;
}






    
