#fastfoodimage {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5%;
    
    
}

#fastfood {
    float: right;
    
}

#drinksimage {
    float: right;
    padding-top: 450px;
    
    


}

.drinks {
    padding-top: 650px;
}


    
