#fastfoodimage {
    box-sizing: border-box;
    float: left;
    width: 45%;
    padding: 5%;
    font-size: 0px;
    
    
    
    
    
}

#fastfood {
    float: right;
    padding: 20px;
}

#drinksimage {
    float: right;
    padding-top: 250px;
    font-size: 0px;
    background-repeat: no-repeat;
    
    
}

.drinks {
    padding-top: 650px;
}

.itemslist {
display: flex;
padding-top: 200px;

}
#menu {
    background-image: url(./Assets/foodsBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    clear: right;
    padding-top: 400px;
}
#row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 400px;
}
#navbar {
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    text-align: center;
    color: solid black;
    display: block;
    padding: 14px 16px;
    width: 100%;
    font-size: 16px;
}
a:hover {
    background-color: cornsilk;
    color: #F15A29;
    font-size: 17px;
}
#row {
    display: flex;
    color: #F15A29;
    justify-content: space-between;
    padding-top: 200px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: white;
    
    

    
    
    
}
#row div {
    text-align: center;
}




